<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>h3 chat</title>
    <link rel="stylesheet" href="dist/css/common.css"/>
</head>
<body>

<div class="page-wrap">
    <div id="chatBox">
        <h2>Chat Room</h2>
        <div class="msgFormBox" >
            <form action="/" v-on="submit: submitMsg">
                <div class="zui field">
                    <input type="text" id="userName" name="userName" v-model="userName" class=""
                           placeholder="UserName" required=""/>
                </div>
                <textarea name="msgToSend" id="msgToSend" cols="30" v-model="msgToSend" required></textarea>
                <div id="formActions">
                    <button id="sendMsgBtn">Send</button>
                </div>
            </form>
        </div>
        <ul class="msgList">
            <li v-repeat="messages | orderBy created reverse" track-by="_id" class="listItem">
                <div class="msgTime">
                    <span class="date">{{created | date MM/dd/yyyy}}</span>
                    <span class="time">{{created | date HH:mm}}</span>
                </div>
                <div class="chatIcons mdicon-sms"></div>
                <div class="msgBody">
                    <div class="msgUser">{{userName}}</div>
                    <div class="msgContent">{{body}}</div>
                </div>
            </li>
        </ul>

    </div>
</div>


<script src="dist/js/vue.js"></script>
<script src="socket.io/socket.io.js"></script>
<!--<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>-->
<script>
    var socket = io();
//$(function(){
//    $('form').submit(function(){
//        socket.emit('sendMsg',$('#msgToSend').val());
//        $('#msgToSend').val('');
//        return false;
//    });
//})
function sendMsg(socket,msgObj){
    socket.emit('msg:send',msgObj);
}

    Vue.filter('date',function(value,key){
        var format = key || 'MM/dd/yyyy HH:mm';
        var date = new Date(value);
        var Week = ['日', '一', '二', '三', '四', '五', '六'];

        format = format.replace(/yyyy|YYYY/, date.getFullYear());
        format = format.replace(/yy|YY/, (date.getYear() % 100) > 9 ? (date.getYear() % 100).toString() : '0' + (date.getYear() % 100));

        format = format.replace(/MM/, date.getMonth() + 1 > 9 ? (date.getMonth() + 1).toString() : '0' + (date.getMonth() + 1));
        format = format.replace(/M/g, (date.getMonth() + 1));

        format = format.replace(/w|W/g, Week[date.getDay()]);

        format = format.replace(/dd|DD/, date.getDate() > 9 ? date.getDate().toString() : '0' + date.getDate());
        format = format.replace(/d|D/g, date.getDate());

        format = format.replace(/hh|HH/, date.getHours() > 9 ? date.getHours().toString() : '0' + date.getHours());
        format = format.replace(/h|H/g, date.getHours());
        format = format.replace(/mm/, date.getMinutes() > 9 ? date.getMinutes().toString() : '0' + date.getMinutes());
        format = format.replace(/m/g, date.getMinutes());

        format = format.replace(/ss|SS/, date.getSeconds() > 9 ? date.getSeconds().toString() : '0' + date.getSeconds());
        format = format.replace(/s|S/g, date.getSeconds());

        return format;
    });
var chatBox = new Vue({
    el:'#chatBox',
    data:{
        messages:[{
            userName:'admin',
            body:'welcome',
            created:new Date()
        }],
        userName:"",
        msgToSend:""
    },
    computed:{
    },
    methods:{
        submitMsg:function(e){
            e.preventDefault();
            var msgObj = {
                userName:this.userName,
                body:this.msgToSend
            };

//            sendMsg(socket, JSON.stringify(msgObj));
            sendMsg(socket, msgObj);
            msgObj.created = new Date();
            this.$data.messages.unshift(msgObj);
            console.log(this.$data.messages);

            this.msgToSend="";
            return false;
        },
        receive:function(msg){
            console.log('receive');
            this.$data.messages.unshift(msg);
        },
        initList:function(allMsgs){
            console.log(typeof allMsgs);
            console.log(this.$data.messages);
//            this.$data.messages = allMsgs.unshift(this.$data.messages[0]);
        }
    }
});

    socket.on('msg:new',function(msg){
        if(chatBox){
            chatBox.receive(msg);
        }
    });
    socket.on('msg:init',function(messages){
        if(chatBox){
            chatBox.messages = messages.reverse();
            console.log();
            chatBox.initList(messages);
        }
    });

</script>
</body>
</html>