<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>h3 chat</title>
    <link rel="stylesheet" href="../dist/css/common.css"/>
</head>
<body>

<div class="page-wrap" id="app">
    <a href="javascript:;" id="logoutBtn">Logout</a>
    <div v-component="{{currentView}}" v-with="messages:chatBoxData.messages"  v-ref="{{currentView}}"></div>

</div>

<script type="text/x-template" id="login-template">
    <div class="signBox" >
        <section class="signIn signSection">
            <h2 class="title">Login</h2>
            <form v-on="submit: loginSubmit" class="zui form full-width" >
                <div class="zui field">
                    <label for="email">Email：</label>
                    <input type="text" id="email" name="email" v-model="email" placeholder="Enter your email" required />
                </div>
                <div class="zui field">
                    <label for="password">Password：</label>
                    <input type="password" id="password" name="password" v-model="password" placeholder="Enter your password" required/>
                </div>
                <div class="formActions">
                    <input type="submit" value="Sign In" class="button blue"/>
                </div>
            </form>
            <div class="signInfo">
                Not has a account? To <a href="javascript:;" class="js-toSign" data-target=".signUp">Sign Up</a>
            </div>
        </section>
    </div>
</script>
<script type="text/x-template" id="signUp-template">
    <div class="signBox">
        <section class="signUp signSection">
            <h2 class="title">Create Your Account!</h2>
            <div id="error"></div>
            <form action="/signin" v-on="submit: signUpSubmit" method="post" id="signInForm" class="zui form full-width">
                <div class="zui field">
                    <label for="email1">Email：</label>
                    <input type="text" id="email1" name="email" v-model="email" required=""/>
                </div>
                <div class="zui field">
                    <label for="password1">Password：</label>
                    <input type="password" id="password1" name="password" v-model="password" required=""/>
                </div>
                <div class="formActions">
                    <input type="submit" value="Create My Account" class="button"/>
                </div>
            </form>
            <div class="signInfo">
                Had a account? To <a href="javascript:;" class="js-toSign" data-target=".signIn">Sign In</a>
            </div>
        </section>
    </div>
</script>
<script type="text/x-template" id="chat-template">
    <div id="chatBox">
        <h2>Chat Room</h2>
        <div class="msgFormBox" >
            <form action="/" v-on="submit: submitMsg">
                <textarea name="msgToSend" id="msgToSend" cols="30" v-model="msgToSend" required></textarea>
                <div id="formActions" class="formActions">
                    <button id="sendMsgBtn" class="button blue">Send</button>
                </div>
            </form>
        </div>
        <ul class="msgList">
            <li v-repeat="messages | orderBy created reverse" track-by="_id" class="listItem">
                <div class="msgTime">
                    <span class="date">{{created | date MM/dd/yyyy}}</span>
                    <span class="time">{{created | date HH:mm}}</span>
                </div>
                <div class="chatIcons mdicon-sms"></div>
                <div class="msgBody">
                    <div class="msgUser">{{userName}}</div>
                    <div class="msgContent">{{body}}</div>
                </div>
            </li>
        </ul>

    </div>
</script>

<script src="../bower_components/store-js/store.js"></script>
<script src="../bower_components/page.js/page.js"></script>
<script src="../dist/js/vue.js"></script>
<script src="socket.io/socket.io.js"></script>
<!--<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>-->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script>
    Vue.config.debug = true;
    page.base('/#');

    $("#logoutBtn").on('click',function(e){
        e.preventDefault();
        var token = store.get('token');
        if(token){
            $.ajax({
                type:'post',
                url:'/logout',
                data:{token:token}
            }).done(function(data){

                //store.remove('token');

            });
        }

    });

    var token,socket,chatBox;

    // 登录成功就执行socket代码，侦听事件代码
    function connect () {
        token = token?token:store.get('token');
        socket = io.connect(token ? ('?token=' + token) : '', {
            'forceNew': true
        });

        socket.on('user:initName',function(data){
            app.userName = data;
        });
        socket.on("error", function(error) {
            if (error.type == "UnauthorizedError" || error.code == "invalid_token") {
                // redirect user to login page perhaps?
                console.log("User's token has expired");
//                app.currentView = 'login';
                page('/login');
            }
        });
        socket.on('msg:new',function(msg){
            if(app.$.chatBox){
                app.$.chatBox.receive(msg);
            }
        });
        socket.on('msg:init',function(messages){
            if(app&&app.$data){
                app.$data.chatBoxData.messages = messages.reverse();
            }

        });
        socket.on('time',function(data){
            console.log(data);
        });
    }
    connect();
    function sendMsg(socket,msgObj){
        socket.emit('msg:send',msgObj);
    }

    Vue.filter('date',function(value,key){
        var format = key || 'MM/dd/yyyy HH:mm';
        var date = new Date(value);
        var Week = ['日', '一', '二', '三', '四', '五', '六'];

        format = format.replace(/yyyy|YYYY/, date.getFullYear());
        format = format.replace(/yy|YY/, (date.getYear() % 100) > 9 ? (date.getYear() % 100).toString() : '0' + (date.getYear() % 100));

        format = format.replace(/MM/, date.getMonth() + 1 > 9 ? (date.getMonth() + 1).toString() : '0' + (date.getMonth() + 1));
        format = format.replace(/M/g, (date.getMonth() + 1));

        format = format.replace(/w|W/g, Week[date.getDay()]);

        format = format.replace(/dd|DD/, date.getDate() > 9 ? date.getDate().toString() : '0' + date.getDate());
        format = format.replace(/d|D/g, date.getDate());

        format = format.replace(/hh|HH/, date.getHours() > 9 ? date.getHours().toString() : '0' + date.getHours());
        format = format.replace(/h|H/g, date.getHours());
        format = format.replace(/mm/, date.getMinutes() > 9 ? date.getMinutes().toString() : '0' + date.getMinutes());
        format = format.replace(/m/g, date.getMinutes());

        format = format.replace(/ss|SS/, date.getSeconds() > 9 ? date.getSeconds().toString() : '0' + date.getSeconds());
        format = format.replace(/s|S/g, date.getSeconds());

        return format;
    });


    Vue.component('login',{
        template:'#login-template',
        data:function(){
            return {
                email:'',
                password:'',
                actionUrl:'/authenticate'
            }
        },
        methods: {
            loginSubmit:function(e){
                console.log(e,this);
                console.log('email:',this.email);
                console.log('password:',this.password);
                console.log('action:',this.actionUrl);
                e.preventDefault();
                $.ajax({
                    type:'post',
                    url:this.actionUrl,
                    data:{email:this.email,password:this.password}
                }).done(function(data){
                    console.log(data);
                    if(data.type){
                        store.set('token',data.token);
                        token = data.token;
                        app.currentView = 'chatBox';
                        app.userName = data.data.email;
                        connect ();
                    }else{
                        $("#error").html(data.data);
                    }
                });
                return false;
            }
        }
    });
    Vue.component('signUp',{
        template:'#signUp-template',
        data:function(){
            return {
                email:'',
                password:'',
                action:'/signin'
            }
        },
        methods: {
            signUpSubmit:function(e){
                e.preventDefault();
                $.ajax({
                    type:'post',
                    url:this.action,
                    data:{email:this.email,password:this.password}
                }).done(function(data){
                    if(data.type){
                        store.set('token',data.token);
                        token = data.token;
                        app.currentView = 'chatBox';
                        app.userName = data.data.email;
                        connect ();
                    }else{
                        $("#error").html(data.data);
                    }
                });
                return false;
            }
        }
    });

    Vue.component('chatBox',{
        template:'#chat-template',
        inherit: true,
        data:function(){
            return {msgToSend:""};
        },
        methods:{
            submitMsg:function(e){
                e.preventDefault();
                var msgObj = {
                    userName:this.$parent.userName,
                    body:this.msgToSend
                };

                sendMsg(socket, msgObj);
                msgObj.created=new Date();

                this.$parent.chatBoxData.messages.unshift(msgObj);

                this.msgToSend="";
                return false;
            },
            receive:function(msg){

                this.$parent.chatBoxData.messages.unshift(msg);
            }
        }
    });
    var app = new Vue({
        el:'#app',
        data:{
            userName:'',
            currentView:'chatBox',
            chatBoxData:{
                messages:null
            }
        }
    });

    function loginRouter(){
        app.currentView = 'login';
    }
    function chatRouter(){
        app.currentView = 'chatBox';
    }
    function signUpRouter(){
        app.currentView = 'signUp';
    }

    page('/',chatRouter);
    page('/login',loginRouter);
    page('/chat',chatRouter);
    page('/signUp',signUpRouter);
    page();
</script>
</body>
</html>